@using Blazorise.QRCode

@page "/PhigrosTokenGetter/index.html"

<div id="LoginMain">
	<QRCode Value="@(!LoginUrl.Contains("http") ? "" : LoginUrl)" Alt="@QRCodeAlt" id="QRCodeImage"></QRCode>
	<div id="LoginInfo">
		<span>Login url:</span>
		<a href="@LoginUrl" target="_blank" style="pointer-events: @(LoginUrl.Contains("taptap") ? "auto" : "none")">@LoginUrl<br/></a>
		<span>Expires at: @ExpiresAt.ToString(), in @ExpiresInSeconds seconds.</span>
	</div>
	<div id="TokenInfo">
		<p>
			Your token:
		</p>
		<textarea id="Token" readonly>@Token</textarea>
	</div>
	<button id="Regenerate" @onclick=Regenerate>Regenerate</button>
	<input type="checkbox" id="IsChina" @bind=UseChinaEndpoint />
	<label id="IsChinaLabel" for="IsChina">Use China endpoint</label>
</div>
